[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djongo = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
