{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>About</h2>
    		<h3>RAK1906 WisBlock Environmental Sensor and Django Project</h3>
    		<p>I created this project so that it could help me put into practice skills that I had learnt about:
    		Heroku, Django, Git, Bootstrap, REST, Python, RAK1906 WisBlock Environmental Sensor, LoRaWAN, Arduino and MongoDB.</p>
    		<p>In this project, temperature, humidity, air pressure and air quality are measured using <a href=" https://docs.rakwireless.com/Product-Categories/WisBlock/RAK1906/Quickstart/ " rel="noopener noreferrer" target="_blank"> RAK1906 WisBlock Environmental Sensor </a>  which is connected to an RAK4630 module. The RAK4630 module sends the data to The Things Network (TTN) which forwards the data to a Django rest api which validates and stores the data in a MongoDB database. A front end app in the Django project then displays the data using four graphs: for temperature, humidity, air pressure and air quality.</p>
        </div>
     </div>     
</div>
{% endblock %}>