<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}RAK1906 Sensor Project{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

  <style>
    .fancynavlink {
      color: white !important;
    }

    a.fancynavlink:hover
    {
        color:#FBB03B !important;
    }

    #chartContainer {
      height: 87vh; /* Set the chart container height to 87% of the viewport height */
      max-height: 87vh; /* Set the max chart container height to 87% of the viewport height */
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="{% url 'home' %}" class="navbar-brand">RAK1906 DATA</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'home' %}" class="nav-item nav-link fancynavlink">Temperature</a>
            <a href="{% url 'humidity' %}" class="nav-item nav-link fancynavlink">Humidity</a>
            <a href="{% url 'pressure' %}" class="nav-item nav-link fancynavlink">Pressure</a>
            <a href="{% url 'air_quality' %}" class="nav-item nav-link fancynavlink">Air Quality</a>
            <a href="{% url 'about' %}" class="nav-item nav-link fancynavlink">About</a>
            <a href="{% url 'contactus' %}" class="nav-item nav-link fancynavlink">Contact Us</a>
            <!--<a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>-->
        </div>
        <div class="navbar-nav ml-auto">
            <!--<a href="/admin" class="nav-item nav-link">Login</a>-->
        </div>
    </div>
</nav>

  {% block content %}{% endblock %}

</body>
{# The Footer #}
    <footer class="footer">
	    <div class="container-fluid">
	        <div class="row text-center">
	            <div class="col-12">Copyright©2021 <a href="https://sites.google.com/view/ndovusoftwareengineering" rel="noopener noreferrer" target="_blank">Ndovu Software Engineering</a></div>
	        </div>
	    </div>        
	</footer>
</html>