{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Contact Us</h2>
            <h3>DHT11 and Django project Contacts</h3>
            <p>I welcome any feedback that would improve the project. If you would like to add something to the project, please let me know.</p>
            <address>
                <strong>Support:</strong>   <a href="mailto:waltermaina76@gmail.com">waltermaina76@gmail.com</a><br />
                <strong>Marketing:</strong> <a href="https://sites.google.com/view/ndovusoftwareengineering" rel="noopener noreferrer" target="_blank">Ndovu Software Engineering</a>
            </address>
        </div>
     </div>     
</div>
{% endblock %}>