<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="temperature_chart" data-url="{% url 'temperature_chart' %}"></canvas>
                </div>
            </div>
        </div>
     </div>     
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $temperatureChart = $("#temperature_chart");
      $.ajax({
        url: $temperatureChart.data("url"),
        success: function (data) {

          var ctx = $temperatureChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Temperature',
                //backgroundColor: 'blue',
                borderColor: "red",
                fill: false,
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                display: false,
                position: 'top',
              },
              title: {
                display: true,
                text: 'Temperature Graph',
                fontStyle: 'bold',
                fontColor: '#000000',
                fontSize: 20
              },
              scales: { 
                yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Temperature (°C)',
                      fontStyle: 'bold',
                      fontColor: '#FF0000',
                      fontSize: 15
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Time Recorded',
                      fontStyle: 'bold',
                      fontColor: '#FF0000',
                      fontSize: 15
                    }
                }]
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}>